# everything
*
# Except these files
!endo_LA_Summary.csv
!Annotation tracker.xlsx
!Immune_Marker.csv
!Immune_subcluster_DEG_list.csv
!Immune_Cells_TrueV2_DEG_list.csv
!Bcells_PlasmaCells_Markers.csv
!2023-01-25 LA Summary MH v2.xlsx
!Tcell_NKTcells_NKcells_Immune_Markers.csv
!Pertoneal_Endometriosis_LA_status_Metadata.csv
!heatmap_df.csv
!Endometriosis.LAgroup.meta.data.csv
!Endometriosis.meta.data.csv
!Myeloid_Cells_Markers.csv
!NK_receptors.csv
!M1_vs_M2.csv
!NK_ligands.csv
!cell_chat_db_communication.csv
!cell_chat_endo_DE_pairs.csv
!Atlas_epithelial_Mesenchymal_Markers.csv
!Unknown_cells_metadata.csv
!cell_chat_receptor_ligand_filterd.csv
!.gitignore
