# everything
*
# Except these files
!endo_LA_Summary.csv
!Annotation tracker.xlsx
!Immune_Marker.csv
!Immune_subcluster_DEG_list.csv
!Immune_Cells_TrueV2_DEG_list.csv
!Bcells_PlasmaCells_Markers.csv
!Clusters_Major_Groups.xlsx
!cell_chat_db_communication.csv
!.gitignore
